@page "/bebidas"

<PageTitle>Bebidas - BlazorStore</PageTitle>

  <div class="content-wrapper">
    <div class="content-header pt-4">
      <div class="container">
        <img class="d-block w-100 elevation-2 mb-5"
        src="https://i5.walmartimages.com/dfw/4ff9c6c9-1ff8/k2-_64af17b5-15ae-45ce-bb57-7bbb53a1601d.v1.jpg"
        alt="" style="height:360px; border-radius: 8px;">
        <h3 class="text-center">Bebidas</h3>
      </div>
    </div>
    <div class="content">
        <div class="container">
            Aqui va todo el contenido ...
        </div>
    </div>
</div>

@code {

}