@page "/cuidado_personal"

<PageTitle>Cuidado Personal y Belleza - BlazorStore</PageTitle>

  <div class="content-wrapper">
    <div class="content-header pt-4">
      <div class="container">
        <img class="d-block w-100 elevation-2 mb-5"
        src="https://i5.walmartimages.com/dfw/4ff9c6c9-be35/k2-_705466a3-8b9c-4f37-beda-e6ad8ba7ccb7.v1.jpg"
        alt="" style="height:360px; border-radius: 8px;">
        <h3 class="text-center">Cuidado Personal y Belleza</h3>
      </div>
    </div>
    <div class="content">
        <div class="container">
            Aqui va todo el contenido ...
        </div>
    </div>
</div>

@code {

}
