@page "/frutasyvegetales"

<PageTitle>Frutas y Vegetales - BlazorStore</PageTitle>

  <div class="content-wrapper">
    <div class="content-header pt-4">
      <div class="container">
        <img class="d-block w-100 elevation-2 mb-5"
        src="https://i5.walmartimages.com/dfw/4ff9c6c9-d4df/k2-_42d4375b-c7f8-4f7e-9efc-7230d4dd396b.v1.jpg"
        alt="" style="height:360px; border-radius: 8px;">
        <h3 class="text-center">Frutas y Vegetales</h3>
      </div>
    </div>
    <div class="content">
        <div class="container">
            Aqui va todo el contenido ...
        </div>
    </div>
</div>

@code {

}
