@page "/hogar"

<PageTitle>Hogar y Electrodomésticos - BlazorStore</PageTitle>

  <div class="content-wrapper">
    <div class="content-header pt-4">
      <div class="container">
        <img class="d-block w-100 elevation-2 mb-5"
        src="https://i5.walmartimages.com/dfw/4ff9c6c9-b842/k2-_2024129d-8e49-4025-ac35-c9c2c298e057.v1.jpg"
        alt="" style="height:360px; border-radius: 8px;">
        <h3 class="text-center">Hogar y Electrodomésticos</h3>
      </div>
    </div>
    <div class="content">
        <div class="container">
            Aqui va todo el contenido ...
        </div>
    </div>
</div>

@code {

}
