@page "/tienda"

<PageTitle>Tienda - BlazorStore</PageTitle>

  <div class="content-wrapper">
    <div class="content-header pt-4">
      <div class="container">
      </div>
    </div>
    <div class="content">
        <div class="container">
            Aqui va todo el contenido ...
        </div>
    </div>
</div>

@code {

}
